.advantages__title {
  @include font($size: 36px, $height: 60px);
}

.advantages__list {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item {
    width: 324px;
    min-height: 300px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item {
    width: 245px;
  }
}
