.advantages {
  padding-top: 17px;
  padding-bottom: 22px;
}

.advantages__title {
  @include font($size: 36px, $height: 60px);
  margin-top: 0;
  margin-bottom: 28px;
}

.advantages__list {
  @include list-reset;
}

.advantages__item {
  line-height: 18px;
  padding-left: 80px;
  padding-top: 2px;
  margin-bottom: 24px;
  position: relative;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
  }
}

.advantages__item--healthy::before {
  background-image: url("../img/advantage-leaf@1x.png");
}

.advantages__item--instant::before {
  background-image: url("../img/advantage-powder@1x.png");
}

.advantages__item--double::before {
  background-image: url("../img/advantage-dining@1x.png");
}

.advantages__item--better::before {
  background-image: url("../img/advantage-clock@1x.png");
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-top: 45px;
    padding-bottom: 8px;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 33px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item {
    font-size: 16px;
    line-height: 24px;
    width: 245px;
    min-height: 258px;
    padding-top: 39px;
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 79px;

    &::before {
      content: "";
      width: 80px;
      height: 80px;
      position: static;
      display: block;
      margin-bottom: 32px;
    }

    &::after {
      @include font($size: 281px, $height: 281px, $color: $alternative-background);
      position: absolute;
      top: 0;
      left: 113px;
      z-index: -1;
    }
  }

  .advantages__item--healthy::after {
    content: "1";
  }

  .advantages__item--instant::after {
    content: "2";
  }

  .advantages__item--double::after {
    content: "3";
  }

  .advantages__item--better::after {
    content: "4";
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-top: 43px;
  }

  .advantages__item {
    width: 245px;
    padding-right: 0;
    min-height: 228px;
  }
}
