.contacts {
  position: relative;
}

.contacts--inner {
  background-color: $alternative-background;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  padding-top: 14px;
}

.contacts__address {
  width: 50%;
  box-sizing: border-box;
}

.contacts__invite {
  @include font();
  text-transform: uppercase;
  width: 50%;
  box-sizing: border-box;
}

.contacts__map {
  display: block;
  width: 100%;
  height: 362px;
  object-fit: cover;
  margin: 0 auto;
  overflow: hidden;
}

.contacts__frame {
  // display: none;
  position: absolute;
  bottom: 0;
  // z-index: -1;
  height: 362px;
  border: none;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    min-height: 115px;
    padding-top: 45px;
    padding-bottom: 41px;
  }

  .contacts__invite {
    font-size: 20px;
    line-height: 25px;
    padding-right: 120px;
    padding-left: 41px;
  }

  .contacts__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    text-align: right;
    padding-left: 115px;
    padding-right: 42px;
  }

  .contacts__map {
    height: 396px;
  }

  .contacts__frame {
    height: 396px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    min-height: 399px;
    position: relative;

    .contacts__wrapper {
      width: 480px;
      min-height: 115px;
      position: absolute;
      top: 95px;
      z-index: 1;
      left: calc(50% - 610px);
      padding-left: 45px;
      padding-right: 45px;
      background-color: $main-background;
    }
  }

  .contacts__invite {
    padding-left: 31px;
    padding-right: 0;
  }

  .contacts__address {
    text-align: left;
    padding-left: 40px;
    padding-right: 5px;
  }

  .contacts__map {
    height: 399px;
  }

  .contacts__frame {
    height: 399px;
  }
}
