.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover .copyright__image {
    fill: #67b737;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  font-size: 16px;
  line-height: 16px;
  pointer-events: none; // IE bug
}

.copyright__image {
  width: 27px;
  height: 34px;
  fill: #656565;
  pointer-events: none; // IE bug
}

@media (min-width: $tablet-width) {
  .copyright__text {
    margin-right: 24px;
  }
}
