.extra__header {
  @include font($size: 24px, $height: 24px);
}

.extra__list {
  @include list-reset;
}

.extra__title {
  @include font($height: 16px, $color: #222222);
  text-transform: uppercase;
}

.extra__quantity {
  line-height: 14px;
}

.extra__price {
  line-height: 14px;
  text-align: right;
}

.extra__order {
  @include font($color: #ffffff);
  text-transform: uppercase;
  text-align: center;
  background-color: #68b738;
}

.extra__gift {
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  min-height: 289px;
}

@media (min-width: $tablet-width) {
  .extra__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .extra__order {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .extra {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .extra__header {
    width: 100%;
  }

  .extra__list {
    width: 895px;
  }

  .extra__order {
    width: 245px;
  }

  .extra__gift {
    width: 245px;
  }
}
