.page-header {
  padding-top: 11px;
  padding-left: 20px;
  padding-right: 20px;
}

.page-header__logo {
  display: block;
  min-height: 54px;
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
  }
}
