.page-header {
  padding-top: 11px;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
}

.page-header__logo {
  display: block;
  min-height: 54px;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    display: flex;
    min-height: 58px;
    padding-top: 24px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    min-height: 59px;
    padding-top: 54px;
  }
}
