.page-header {
  // width: 280px;
  padding-top: 11px;
  // padding-left: 20px;
  // padding-right: 20px;
  // margin: 0 auto;
}

.page-header__logo {
  display: block;
  min-height: 54px;
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    // width: 708px;
    min-height: 58px;
    padding-top: 24px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    // width: 1220px;
    min-height: 59px;
    padding-top: 54px;
  }
}
