.promo-categories__list {
  @include list-reset;
}

.promo-categories__item {
  background-color: $alternative-background;
  min-height: 266px;
}

.promo-categories__title {
  @include font($size: 24px, $height: 37px);
  text-transform: uppercase;
}

.promo-categories__link {
  @include font($height: 16px);
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .promo-categories__item {
    min-height: 372px;
  }
}

@media (min-width: $desktop-width) {
  .promo-categories__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .promo-categories__item {
    width: 570px;
  }
}
