.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  @include font($size: 20px, $weight: 500);
  text-transform: uppercase;
  text-align: center;
  padding-top: 23px;
  padding-bottom: 22px;
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
  }
}
