.site-list {
  @include list-reset;
}

.site-list__item {
  @include font($size: 20px, $weight: 500);
  text-transform: uppercase;
  text-align: center;
  padding-top: 23px;
  padding-bottom: 23px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -23px;
    border-bottom: 1px solid #e6e6e6;
  }

  a:hover {
    opacity: 0.6;
  }

  a:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 440px;
  }

  .site-list__item {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    padding-top: 18px;
    padding-bottom: 7px;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &::after {
      display: none;
    }

    &--active {
      border-bottom: 2px solid #68b738;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    min-width: 478px;
  }

  .site-list--light .site-list__item {
    color: #ffffff;

    &--active {
      border-color: #ffffff;
    }
  }

  .site-list__item {
    font-size: 20px;
    padding-top: 19px;
    padding-bottom: 8px;
  }
}
